body
  &.build-status-building,
  &.build-status-error
    overflow: hidden
    pointer-events: none

    &:before
      content: ''
      display: block
      position: fixed
      top: 0
      left: 0
      bottom: 0
      right: 0
      z-index: 9999999999

    &:after
      color: white
      font-size: 18px
      display: block
      position: fixed
      top: 0
      left: 0
      padding: 20px
      text-align: center
      z-index: 99999999999

  &.build-status-building
    &:before
      background-color: rgba(0,200,30,0.5)
    &:after
      content: 'building'

  &.build-status-error
    &:before
      background-color: rgba(200,30,0,0.5)
    &:after
      content: 'gulp build error'
