bg-color = #f0f0f0
light-text-color = darken(bg-color, 24)
text-color = darken(bg-color, 40)
dark-text-color = #444444

margin = 12px

font = 400 20px roboto, helvetica, sans-serif

animation-speed = 0.1s

c1 = #AB4A37